/*Empezamos con un coche que va de izquierda a derecha
Atraviesa un muro haciendo algún efecto de humo  y escombros
y se choca contra un edificio que no es suyo al llegar a la derecha
Aparecen llamas en el impacto sobre el edificio y el coche sufre algún desperfecto
Hay sonido y tenéis que obligar al usuario a interactuar con la web
Mientras tanto hay pájaros y aparecen topos de manera infinita y en varios sitios
La animación finalizará al explotar el coche*/

body{
    margin: 0 auto;
}
#fondo{
    background-color: skyblue;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
}
#suelo{
    background-color: forestgreen;
    height: 30%;
    width: 100%;
}
#coche{
    position: absolute;
    left: -44px;
    top: 306px;
    animation: movimiento_coche ease-in 10s;
    animation-fill-mode: forwards;
}
#coche img{
    width: 360px;
}
#muro{
    left: 1000px;
    position: absolute;
    top: 372px;
}

#rampa{
    position: absolute;
    left: 71px;
    top: 224px;
}

#rampa img{
    height: 392px;
    width: 334px;
}

@keyframes movimiento_coche{
    0% {
        transform: rotateZ(311deg);
        left: -44px;
        top: 306px;
    }
    20%{
        left: 356px;
        top: -299px;
        transform: rotateZ(349deg);
    }
    50%{
        left: 507px;
        top: -96px;
        transform: rotateZ(40deg);
    }
    100%{
        left: 813px;
        top: 435px;
        transform: rotateZ(180deg);
    }
}