@font-face {
    font-family: 'Chulapa';
    src: url('fonts/Chulapa-Bold.otf') format('truetype');
}
body{
    margin: 0px;
}
header{
    background-color: red;
    height: 20vh;
}
nav{
    background-color: blue;
    height: 10vh;
}
aside{
    background-color: black;
    color: white;
    height: 50vh;
    width: 20%;
    float: left;
}
section{
    background-color: grey;
    height: 50vh;
    width: 80%;
    float: left;
}
article{
    background-color: purple;
    height: 40vh;
}
article + article{
    background-color: brown;
}
footer{
    background-color: green;
    height: 20vh;
    float: left;
}
*{
    font-size: 30px;
    font-family: 'Chulapa';
}
