body{
    background-color: white;
    margin: 0;
    font-family:'Times New Roman', Times, serif
}

.wrapper.row1{
    background-color: #333333;
}

header{
    margin: 0 auto;
    max-width: 960px;    
    display: flex;
    justify-content: space-between;
}

h1{
    margin: 0;
}

a{
    color: #a3a3a3;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 12px;
}

#container{
    margin: 0 auto;
    max-width: 960px;
}

section{
    display: flex;
}

header ul{
    display: flex;
    list-style: none;
}

header ul li{
    padding: 10px;
    background-color: #232323;
}

figure{
    margin: 0;
    border: black;
}

footer{
    background-color: #232323;
}

#copyright{
    margin: 0 auto;
    max-width: 960px;
}

footer p{
    margin-bottom: 0;
}