body{
    margin: 0;
    background-color: #4a2e6b;
}

#halloween{
    position: relative;
    background-image: url(./img/fondo.jpg);
    background-repeat: no-repeat;
    width: 1500px;
    height: 100vh;
    background-size: contain;
    background-position: center;
    margin: 0 auto;
}

#murcielago {
    position: absolute;
    top: 424px;
    right: 616px;
}

#img_murcielago{
    width: 100px;
    opacity: 0;
    transition: ease-in-out 1s;
}

#murcielago img:hover{
    opacity: 1;
}

#ojosCalabaza{
    position: absolute;
    left: 977px;
    top: 715px;
}

#ojoIzq,#ojoDcho{
    width: 83px;
    transition: transform linear 3s;
    opacity: 1;
}

#ojoIzq{
    margin-bottom: 11px;
}

#ojoDcho{
    margin-left: 41px;
    margin-top: 11px;
}

#ojosCalabaza img:hover{
    opacity: 1;
    transform: rotate(360deg);
}

#lunaDream {
    position: absolute;
    left: 653px;
    top: 285px;
}

#lunaDream img{
    width: 152px;
    transition: width ease 3s;
}

#lunaDream img:hover{
    width: 100px;
}

#tumba{
    position: absolute;
    left: 800px;
    top: 761px;
}

#tumba img{
    width: 80px;
    transition: width 4s, transform 3s;
}

#tumba img:hover{
    width: 130px;
    transform: rotate(360deg);
}

#agatha{
    position: absolute;
    left: 238px;
    top: 147px;
    transition: left 2s, top 2s, width 2s;
}

#agatha img{
    width: 142px;
}

#agatha:hover{
    left: 716px;
    top: 623px;
}

#wiccan {
    position: absolute;
    left: 1013px;
    top: 330px;
}

#chaval {
    width: 132px;
}

#corona{
    rotate: 11deg;
    left: 24px;
    position: absolute;
    top: -13px;
    width: 48px;
    opacity: 0;
    transition: opacity 2s;
}

#corona:hover{
    opacity: 1;
}