.comic{
    background-color: #A51A1F;
    display: inline-block;
    padding: 5px;
}

.fila1, .fila2, .fila3{
    display: flex;
}

.columna1{
    padding: 5px;
}

.columna2{
    padding: 5px;
}

img{
    width: 250px;
    transition: width 2s;
}

img:hover{
    width: 500px;
    height: 500px;
}
