@font-face {
    font-family: 'Online Privileges';
    src: url(./font/OnlinePrivileges.ttf);
    font-style: normal;
    font-weight: normal;
}

h1 {
    font-family: 'Online Privileges';
    font-size: 8vh;
    margin: 0;
    line-height: 1.2;
}

.image-container img {
    height: 100%;
    object-fit: cover;
}

@media screen and (max-width: 449px) {
    h1 {
        font-size: 6vh;
    }
}

@media screen and (min-width: 450px) and (max-width: 992px) {
    h1 {
        font-size: 8vh;
    }
}

@media screen and (min-width: 993px) {
    h1 {
        font-size: 8vh;
    }
}
